
.menu {
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    display: flex;
    height: 100;
    flex-direction: column;
    background: url(slider.jpg);
  }
  
  main {
    flex: 1 0 auto;

  }

/* .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 } */

.nav-wrapper {
  background-color: lightsteelblue;
    font-family: 'Open Sans Condensed', sans-serif
}

.main-section1{
  font-family: 'Ubuntu', sans-serif;
  margin:50px;
  text-align: center;
  color: whitesmoke;
}

.main-section1 ,p{
  font-size: 19px;
}

.calculateBtn{
  margin: 50px;
  color: black;
  background-color: burlywood;
}

.row{
  font-family: 'Ubuntu', sans-serif;
}

.card-panel{
  background-size: 85%;
  background: url(slider.jpg);
  box-shadow: 0 5px 15px rgb(0, 0, 1);
  font-family: 'Ubuntu', sans-serif;
  color: black
}

.input-field{
  background-color: lightgray
}

.material-icons{
  color: black;
}

  .result-bad {
    margin: 50px;
    padding: 20px;
    background-color: rgb(128, 9, 0);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif


  }

  .result-fair {
    box-shadow: 0 5px 15px rgb(0, 0, 1);
    margin: 50px;
    padding: 20px;
    background-color: rgb(180, 177, 1);
    color: white;
  }

  .result-good {
    margin: 50px;
    padding: 20px;
    background-color: rgb(21, 128, 0);
    box-shadow: 0 5px 15px rgb(0, 0, 1);

    color: white;
  }

.page-footer{
  text-align: end;
  background-color: lightsteelblue;
}
 
.container1{
  background-color: black;
}
.card-action {
    color: white;
  }

  .hide {
    display: none;

  }
   