body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }

/* .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 } */

.nav-wrapper {
    font-family: 'Open Sans Condensed', sans-serif
}

  .result-bad {
    margin: 50px;
    padding: 20px;
    background-color: rgb(128, 9, 0);
    color: white;
  }

  .result-fair {
    margin: 50px;
    padding: 20px;
    background-color: rgb(180, 177, 1);
    color: white;
  }

  .result-good {
    margin: 50px;
    padding: 20px;
    background-color: rgb(21, 128, 0);
    color: white;
  }

  .result-warning {
    margin: 50px;
    padding: 20px;
    background-color: rgb(128, 9, 0);
    color: white;
  }

  .card-action {
    color: white;
  }

  .hide {
    display: none;
  }

   .main-section1{
  font-family: 'Open Sans Condensed', sans-serif
  }

  .negotiation {
    margin: 50px;
    padding: 20px;
    background-color: rgb(180, 177, 1);
    color: white;
  }

  .thanks{
    margin: 50px;
    padding: 20px;
    background-color: rgb(21, 128, 0);
    color: white;
  }

  .walk-away {
    margin: 50px;
    padding: 20px;
    background-color: rgb(128, 9, 0);
    color: white;
  }
